.container {
    width: 83%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between
}

.navigation {
    display: flex;
    flex-direction: row;
    
}

.navigation a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
}