* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_container {
    width: 68%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
}

.navigation a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 20px;
    color: #292F36;
    font-family: 'Jost', sans-serif;
}

#link-home {
    color: #CDA274;
}

.main-header_container {
    width: 75vw;
    display: flex;
    margin: 0 auto;
    height: 831px;
    background-image: url(/assets/images/header.png);
    /* height: 831px; */
    background-repeat: no-repeat;
}

.main-header_inner-container {
    width: 68%;
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 100px;
    height: 50%;
}

h1 {
    font-size: 80px;
    margin-bottom: 0px;
    max-width: 70%;
    font-family: 'DM Serif Display', serif;
    line-height: 96px;
}

h4 {
    font-size: 22px;
    font-family: 'Jost';
    color: #4D5053;
}

.dark-grey {
    color: #292F36;
}

.btn1 {
    font-size: 18px;
    background-color: #292F36;
    color: #FFFFFF;
    width: 207px;
    height: 71px;
    text-align: center;
    border-radius: 18px;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn1 img {
    margin-left: 10px;
}

.header-h4 {
    max-width: 60%;
    line-height: 33px;
    color: #4D5053;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
}

.section_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 68%;
    margin: 0 auto;
    border: 1px solid;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 70px;
}

h3 {
    font-size: 25px;
    font-family: 'DM Serif Display', serif;
    color: #292F36;
}

.section_1 div {
    width: 100%;
    border: 1px solid;
}

.section_1 div h4 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.section_1 a {
    text-decoration: none;
    color: #4D5053;
    font-size: 18px;
    font-family: 'Jost';
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_1 img {
    margin-left: 10px;
}